* {
    padding: 0;
    margin: 0;
}
:root {
   --colorPrimary: #d3e0ff;
   --btnColor: #e8def8;
}

body {
    background-color: var(--colorPrimary);
    font-family: "Montserrat", serif !important;
}

.mask {
    background-color: hsla(0, 0%, 0%, 0.6) !important;
}

.background-image {
    background-image: url('../utils/images/62777-6.jpeg') !important;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    max-height: 411px !important;
    max-width: 100% !important;
    border-radius: 20px;


    box-shadow: 0 10px 10px -5px rgba(0, 0, 0, 0.5);
    
}

.title {
    color: white;
    text-align: start !important;
    line-height: 1.4;
    margin-top: 100px;
    
}

.subtitle {
    color: #c1afb5;
    text-align: start !important;
    line-height: 1.2;

}

.btnDiv {
    display: flex;
    justify-content: start;
    gap: 10px;
    flex-direction: row;
    flex-wrap: nowrap;
}

.btnDiv i {
    color: #9c90b7;
    padding: 2px;
}

.btnDiv button {
    width: 20%;
    margin-top: 50px;

    background-color: var(--btnColor);
}

.sectionCard {
    max-width: 600px; 
    margin-top: 20px;

    border-radius: 200px;
    background-color: var(--colorPrimary) !important;

    display: flex !important;
    flex-direction: column;
    flex-wrap: wrap;
    
    
}

.sectionCard img {
    width: 100%;
    height: 100%;

    border-radius: 6%;
    justify-content: flex-start;

    filter: contrast(1.075);
    filter: brightness(80%);
    filter:saturate(1.3);   

    background: rgba(124,99,99,0.7);
    -webkit-backdrop-filter: blur(1px);
    backdrop-filter: blur(1px);
    
}


.sectionList {
    display: flex !important;
    flex-direction: column;
    flex-wrap: wrap;

    max-width: 900px; 
    margin-top: 20px;
}

.btnList {
    width: 40%;
    padding: 10px;
    background-color: var(--btnColor);
    
    border-radius: 120px !important;
}


.btnDivList {
    display: flex !important;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-evenly;
}
